<%- include ('partials/header') %>

    <h1>Welcome to the ecommerce api</h1>
    <p>Api documentation is <a href="https://documenter.getpostman.com/view/10955476/TVYPztdw">here</a></p>
<%- include ('partials/footer') %>
