<%- include ('partials/header')%>

<form action="/register" method="post">
    <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="password" placeholder="Username">
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="field">
        <input type="submit" value="Register">
    </div>
</form>

<%- include ('partials/footer')%>
