<%- include ('../partials/header')%>

<form action="/products" method="POST">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="product[name]" id="name" placeholder="Enter product name">
    </div>
    <div class="field">
        <label for="description">Description</label>
        <input type="text" name="product[description]" id="description" placeholder="Enter description">
    </div>
    <div class="field">
        <label for="price">Price</label>
        <input type="text" name="product[price]" id="price" placeholder="Enter price">
    </div>
    <div class="field">
        <label for="category">Category</label>
      
        <select name="product[category]" id="category">
            <% categories.forEach(category => {%>
                <%# let catName = category.name, catId = category._id;%>
                <option value="<%= category._id %>"><%= category.name %></option>
            <% })%>
        </select>
    </div>

    <div class="field">
        <input type="submit" value="Submit">
    </div>
</form>


<%- include ('../partials/footer')%>
